/* CSS stylesheet  for application */

table {
    border-collapse: collapse;
    border: 1px solid silver;
    padding:15px;
}

th, td {
    border: 1px solid silver;
    padding:15px;

}

.redColor{
    color: red !important;

}

.greenColor{
    color: green !important;
}

.btn-primary{
    background-color: #456594 !important;
}

.fog-blue{
     background-color: #456594 !important;

}

.whiteText{
    color: #ffffff !important;
}


.whiteBg{
    background-color:  #ffffff !important;
}
