/* CSS stylesheet  for application */

table {
    border-collapse: collapse;
    border: 1px solid silver;
    padding: 15px;
}

th, td {
    border: 1px solid silver;
    padding: 15px;

}

.redColor {
    color: red !important;

}

.greenColor {
    color: green !important;
}

.btn-primary {
    background-color: #456594 !important;
}

.fog-blue {
    background-color: #456594 !important;

}

.whiteText {
    color: #ffffff !important;
}


.whiteBg {
    background-color: #ffffff !important;
}


.custom-toggler .navbar-toggler-icon {
    color: white;

}

.lightBlueBg{
    background-color: rgba(143, 187, 220, 0.58);
}
